<form role="form">
  <div class="form-group">
    <label for="access-token">Enter your HipChat access token to get started (get it <a target="_blank" href="https://hipchat.com/account/api">here</a>)</label>
    <input class="form-control" id="access-token">
  </div>
</form>

<a class="export" href="/emoticons/export.adium">Export AdiumEmoticonSet</a>

<div class="message"></div>
<div class="loading"></div>
<div class="response"></div>


